.app-before{
    height: 120vh;
    width: 100%;
    top: 0;
    margin-top: -1vh;
}
.menuWork{
    float: left;
    width: 100%;
    height: 8vh;
    background-color: #ebaab4;
    position: fixed;
    z-index: 5;
}
.menuWork ul li{
    margin-top: -5vh;
    float: left;
    list-style: none;
    padding: 4vh;
    color: white;
    font-size: large;
    font-family: 'Sansita Swashed', cursive;
}
.menuWork ul #brandlogomenu{
    margin-top: -6vh;
}
.menuWork ul #nameApp{
    margin-left: -7vh;
}
.dashpaper{
    position: absolute;
    background-color:#f8f8bf;
    margin-top: 10vh;
    margin-left: 37vh;
    height: 80vh;
    width: 120vh;
    z-index: 1;
    
}
.userbanner{
    background-color: #ebaab4;
    height: 30vh;
    width: 190vh;
    margin: auto;
    margin-top: 6vh;
    display: flex;
    flex-direction: row;
}
.userAbout{
    padding: 4vh;
    color: white;
    font-family: 'Sansita Swashed', cursive;
}
.userAbout h4{
    margin-top: -5vh;
}
.avatar{
    background-color: white;
    height: 6vh;
    width: 6vh;
    float: left;
    margin-top: -2vh;
    text-align: center;
    font-family: 'Sansita Swashed', cursive ;
    border-radius: 4vh;
    stroke: black;
    margin-left: 40vh;
}
.avatarLarge{
    height: 16vh;
    width: 16vh;
    background-color: aliceblue;
    text-align: center;
    border-radius: 10vh;
    margin-top: 8vh;
    margin-left: 4vh;
}

/*side menu*/
.sidemenuWork{
    float: left;
    background-color: #ebaab4;
    margin-top: 10vh;
    height: 70vh;
    width: 10vh;
    position: fixed;
    z-index: 4;
}
.sidemenuWork ul li{
    list-style: none;
    margin-left: -2vh;
    padding-top: 2vh;
}

/*Style for pages */
.tituloPage{
    text-align: center;
}
.corpoPage{
    text-align: center;
    font-size: 12px;
}

/*squares datas*/
.box-info{
    margin: auto;
    display: flex;
    margin-left: 15vh;
    margin-top: 2vh;
    flex-direction: row;
    padding-left: 4vh;
    align-content: center;

}
.squareData{
    font-family: 'Sansita Swashed', cursive ;
    color:white;
    margin-left: 10vh;
    height: 40vh;
    width: 40vh;
    background-color: #ebaab4;
    display: flex;
    flex-direction: column;
}
.squareGraph{
    background-color: greenyellow;
    height: 20vh;
    width: 38vh;
    margin-left: 1vh;
    margin-top: 1vh;
}
.TitleData{
    margin-top: 2vh;
    margin-left: 1vh
}
.InfoData{
    margin-left: 1vh;
    margin-top:  1vh;
}
.log-out a{text-decoration: none;color: white;}

/*Work space*/
#worksSapce{
    height: auto;
    width: 190vh;
    margin: auto;
    margin-top: 5vh;
}
.titleBasic{
    color: #ebaab4;
    font-family: 'Sansita Swashed', cursive ;
    font-size: larger;
    border-bottom: #ebaab4 solid 1vh;
}